<div class="congressman">
  
  <div class="represenativeInfo">
    <span>Your Congressman Is <%= @representative.first_name %> <%=@representative.last_name %></span> </br>
  	<%= image_tag "congressmenimages/#{@representative.bioguide_id}.jpg", :id => 'portrait' %> <br \>
  First Name: <%= @representative.first_name %><br />
  Last Name: <%= @representative.last_name %><br />
  Party: <%= @representative.party %><br />
  State: <%= @representative.state_name %><br \>
  District: <%= @representative.district %><br \>
  Phone: <%= @representative.phone %><br \>
  Office: <%= @representative.office %><br \>
  Website : <a href=<%= @representative.website %>><%= @representative.website %></a><br />
  Birthday: <%= @representative.birthday %>
  </div>
  

 </div>
  <div class="recentVotes">
   <span> Recent House Votes </span><br \><br \>
    <% @votes.each do |f| %>
      <em><u>Bill ID</u>:</em> <a href=<%= f.source %>><%= f.bill_id %></a><br \>
      <em><u>Description</u>:</em> <%= f.question %> <br \>
      <em><u>Result</u>:</em> <%= f.result %><br \>
      <br \>
    <% end %>
  </div>
  <div class="userComments"><span>Sound off!</span><br \> <br \>
    <ul>
      <% @repcomments.each do |repcomment| %>
        <li><%= "#{repcomment.repcomment} -- #{@current_user.email}" %><br \>
      <% end %>
    <div class="postButtom"><%= form_for Repcomment.new do |f| %>
     <%= f.hidden_field :bioguide_id, value: @representative.bioguide_id %>
     <%= f.text_field :repcomment %>
     <%= f.button "Post", :class => "button" %></div>
    <% end %>

  </div>
<br />
